body {
    background-image: url('../img/7.png');
    background-size: cover;
    min-height: 100%;
    min-width: 1024px;
    top: 0;
    left: 0;
}

.card {
    width: 490px;
    height: 410px;
    background-color: white;
    border-radius: 6px;
    margin: 96px auto 129px auto;
}

h1 {
    padding-top: 30px;
    text-align: center;
}

input {
    width: 90%;
    margin-top: 1px;
    height: 50px;
    border: 0px;
    margin-left: 20px;
    border-bottom: 1px solid rgb(252, 123, 108);
    font-size: 16px;
    font-family: OpenSans-Light;
    background: transparent;
    margin-top: 10px;
}

button {
    margin-top: 30px;
    margin-left: 26%;
    width: 45%;
    height: 40px;
    background: #ff4b8a;
    border: none;
    color: white;
    font-family: product sans;
    font-size: 20px;
    border-radius: 5px;
}